* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}

body {
    background-color: rgb(rgb(189, 88, 81), green, blue)
}

main {
    background-color: rgb(192, 183, 183);
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(243, 242, 242, 0.473);
}