* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}

body {
    background-color: rgb(rgb(233, 171, 245), green, blue)
}

main {
    background-color: rgb(235, 164, 164);
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
}